<ul class="wizard-navbar">
  <div class="liner"></div>

  <li
    *ngFor="let p of pages; let i = index"
    class="flex-fill"
  >
    <a
      [ngClass]="page === p ? 'nav-link active' : 'nav-link'"
      data-toggle="tab"
      [title]="p"
    >
      <span class="round-tabs"
        [ngClass]="{
          'active': page === p,
          'previous': (isViewInsp || pages.indexOf(page) > i),
        }">
        <!-- Cambia el ícono dinámicamente -->
        <i-feather
          *ngIf="(isViewInsp || pages.indexOf(page) > i); else defaultIcon"
          name="check-circle"
          class="feather-sm"
        ></i-feather>
        <ng-template #defaultIcon>
          <i-feather name="info" class="feather-sm"></i-feather>
        </ng-template>
      </span>
      <div class="mt-4"><span>{{ getName(i) }}</span></div>
    </a>
  </li>
</ul>