<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Asignar equipo</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="teamForm">
      <div class="row mb-3">
        <div class="col-sm-12">
          <label class="form-label">Equipo</label>
          <ng-select formControlName="team" placeholder="Equipo" required>
            @for (item of teamList; track item) {
            <ng-option [value]="item.teamId">{{ item.teamName }}</ng-option>
            }
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Close')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="assignTeam()">Guardar</button>
  </div>
</ng-template>
