<div style="display: flex; justify-content: space-between; align-items: center">
  <span><strong>INSPECCIÓN DE LA UNIDAD ({{ information?.insType }}) / FOLIO: {{ information?.inspectionFolio
      }}</strong></span>
  <span style="margin-left: auto"><strong>Eco: {{ information?.serialNumber }}</strong></span>
</div>
<div class="card border">
  <div class="card-body">
    <!-- ==================================-->
    <!-- ======= Basic Nav ===== -->
    <!-- ==================================-->
    <div>

      <div class="row">

        <div class="col">
          <ul ngbNav #nav="ngbNav" [activeId]="active" class="nav-tabs card-body" (navChange)="onNavChange($event)">
            <li [ngbNavItem]="1" *ngIf="isTDA('FRE')">
              <button ngbNavLink>FRE</button>
              <ng-template ngbNavContent>
                <app-fre></app-fre>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" *ngIf="isTDA('CI')">
              <button ngbNavLink>CI</button>
              <ng-template ngbNavContent>
                <app-ci></app-ci>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" *ngIf="isTDA('TRA')">
              <button ngbNavLink>TRA</button>
              <ng-template ngbNavContent>
                <app-tra></app-tra>
              </ng-template>
            </li>
            <li [ngbNavItem]="4" *ngIf="isTDA('INT')">
              <button ngbNavLink>INT</button>
              <ng-template ngbNavContent>
                <app-int></app-int>
              </ng-template>
            </li>
            <li [ngbNavItem]="5" *ngIf="isTDA('CD')">
              <button ngbNavLink>CD</button>
              <ng-template ngbNavContent>
                <app-cd></app-cd>
              </ng-template>
            </li>
            <li [ngbNavItem]="6" *ngIf="isTDA('INF')">
              <button ngbNavLink>INF</button>
              <ng-template ngbNavContent>
                <app-inf></app-inf>
              </ng-template>
            </li>
            <li [ngbNavItem]="7" *ngIf="isTDA('TOL')">
              <button ngbNavLink>TOL</button>
              <ng-template ngbNavContent>
                <app-tol></app-tol>
              </ng-template>
            </li>
            <li [ngbNavItem]="8" *ngIf="isTDA('DOC')">
              <button ngbNavLink>DOC</button>
              <ng-template ngbNavContent>
                <app-doc></app-doc>
              </ng-template>
            </li>
          </ul>
        </div>

        <div class="col-3 mt-3">
          <button style="float: right;" type="button" class="btn btn-outline-danger" (click)="forceSave()"><i
              class="fa fa-save"></i> Guardar</button>
        </div>
      </div>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
<div class="form-group text-end space-20">
  <button type="button" class="btn btn-secondary btn-raised me-2" (click)="previous()">Regresar</button>
  <button type="button" class="btn btn-danger btn-raised" (click)="next()">Continuar</button>
</div>