<div class="container-fluid">


    <!-- Mensaje de error -->
    <div *ngIf="error" class="alert alert-danger">
        {{ error }}
    </div>

    <!-- Contenido principal -->
    <div *ngIf="!error && receipt" class="card shadow-sm">
        <div class="card-body">
            <!-- Encabezado con título y botón de regreso -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <!-- Botón "Volver" visible solo en modo modal -->
                <div *ngIf="isModal" class="d-flex justify-content-end mb-3">
                    <button type="button" class="btn btn-sm btn-light rounded-circle" (click)="goBackToTable()"
                        title="Volver a la tabla">
                        <i-feather name="arrow-left" class="feather-sm"></i-feather>
                    </button>
                </div>
                <h5 class="m-0">
                    <span class="fw-bold">Taller</span>
                    <span class="text-danger fw-bold"> TIP</span>
                </h5>
                <div class="d-flex align-items-center">
                    <!-- Botón de guardar (siempre visible cuando el estado es Nuevo) -->
                    <button *ngIf="isStatusNew()" class="btn btn-primary btn-sm me-3" (click)="saveChanges()">
                        <i-feather name="save" class="feather-sm me-1"></i-feather> Guardar
                    </button>
                    <div class="text-end">
                        <h6 class="mb-0">NO. ECONÓMICO</h6>
                        <div class="d-flex align-items-center">
                            <span class="fw-bold fs-5 me-2">#{{ receipt.serialNumber || '---' }}</span>
                            <span class="badge" [ngClass]="{
                                    'bg-secondary text-white': receipt.receipts?.[0]?.receiptStatus === 'Nuevo',
                                    'bg-info text-white': receipt.receipts?.[0]?.receiptStatus === 'Aprobado',
                                    'bg-danger text-white': receipt.receipts?.[0]?.receiptStatus === 'Rechazado',
                                    'bg-success text-white': receipt.receipts?.[0]?.receiptStatus === 'Entregado',
                                    'bg-light text-dark': !receipt.receipts?.[0]?.receiptStatus || 
                                                         !['Nuevo', 'Aprobado', 'Rechazado', 'Entregado'].includes(receipt.receipts?.[0]?.receiptStatus)
                                  }">
                                {{ receipt.receipts?.[0]?.receiptStatus || '---' }}
                            </span>
                        </div>
                    </div>

                </div>
            </div>


            <hr class="my-3">

            <!-- Información principal en dos columnas -->
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    <div class="mb-2">
                        <span class="fw-bold">Orden de trabajo:</span> {{receipt.odtGroup || '---' }} {{
                        receipt.odtFolio|| '---' }} /
                        {{ receipt.odtType === 'Mecanica' ? 'ME' : receipt.odtType === 'Llantas' ? 'LL' :
                        receipt.odtType || '---' }} -
                        {{ receipt.headerId|| '---' }}
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold">Número económico:</span> {{ receipt.serialNumber || '---' }}
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold">Tipo de unidad:</span> {{ receipt.itemCode || '---' }}
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold">Estatus:</span> {{ receipt.odtStatus|| '---' }} /
                        <!-- Aplicar clase condicional al hacer clic según el estatus pero mantener estilo normal -->
                        <span [ngClass]="{'text-primary cursor-pointer text-decoration-underline': canChangeBranch()}"
                            (click)="canChangeBranch() && openBranchModal(branchSelectionModal)"
                            [title]="canChangeBranch() ? 'Haz clic para cambiar la sucursal' : 'No se puede cambiar la sucursal cuando el estatus es Entregado'">
                            {{ receipt.branch?.branchName || '---' }}
                        </span>
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold">Asignado:</span> {{ receipt.team?.teamName || '---' }}
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-md-6 text-md-end">
                    <div class="mb-2">
                        <span class="fw-bold">ID Recibo:</span> {{ receipt.receipts?.[0]?.rcvHeaderId || '---' }}
                        <button class="btn btn-sm btn-outline-primary" (click)="pdfDownload()" title="Imprimir recibo">
                            <i-feather name="printer" class="feather-sm"></i-feather>
                        </button>
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold">Fecha Recibo:</span>
                        {{ receipt.receipts?.[0]?.rcvDate ? (receipt.receipts[0].rcvDate | date:'dd-MM-yyyy') : '---' }}
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold">Numero WO.:</span> {{ receipt.workOrder?.woNumber || '---' }}
                    </div>

                    <!-- Botón de aprobar (visible solo cuando el estado es Nuevo y el usuario es supervisor) -->
                    <div class="mb-2" *ngIf="receipt?.receipts?.[0]?.receiptStatus === 'Nuevo' && isSupervisor">
                        <button class="btn btn-success btn-sm" (click)="openApprovalModal()">
                            <i-feather name="check-circle" class="feather-sm me-1"></i-feather> Aprobar
                        </button>
                    </div>

                </div>
            </div>

            <!-- Tabla de items -->
            <div class="table-responsive mt-4">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th class="bg-light">ITEM</th>
                            <th class="bg-light">DESCRIPCIÓN</th>
                            <th class="bg-light text-center">UOM</th>
                            <th class="bg-light text-center">REQUERIDO</th>
                            <th class="bg-light text-center">ENTREGADO</th>
                            <th class="bg-light text-center">SOLICITADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Si no hay datos de línea -->
                        <tr *ngIf="!receipt.lineData || receipt.lineData.length === 0">
                            <td colspan="6" class="text-center">No hay detalles disponibles</td>
                        </tr>

                        <!-- Iterar sobre los datos de línea -->
                        <tr *ngFor="let item of receipt.lineData" class="border-bottom">
                            <td class="align-middle">{{ item.itemComponent }}</td>
                            <td>
                                <div class="fw-medium">{{ item.itemDescription }}</div>
                                <div class="text-muted small">
                                    {{ item.materialCode ? item.materialCode : '' }}
                                    {{ item.materialCode && item.materialDescription ? '/' : '' }}
                                    {{ item.materialDescription ? item.materialDescription : '' }}
                                </div>
                            </td>
                            <td class="align-middle">{{ item.primaryUomCode }}</td>
                            <td class="align-middle text-center">{{ item.requestedQuantity }}</td>
                            <td class="align-middle text-center">{{ item.receivedQuantity }}</td>
                            <td class="align-middle text-center">
                                <!-- Input editable solo si el estatus es Nuevo -->
                                <input *ngIf="isStatusNew()" type="number" class="form-control form-control-sm mx-auto"
                                    style="width: 80px;" [min]="0" [value]="item.deliveredQuantity || 0"
                                    (change)="updateDeliveredQuantity(item, $event)" [title]="'Cantidad a entregar'">

                                <!-- Texto de solo lectura para otros estados -->
                                <span *ngIf="!isStatusNew()">
                                    {{ item.deliveredQuantity || 0 }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para actualizar sucursal -->
<ng-template #branchSelectionModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Actualiza Sucursal</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="branchSelect" class="form-label">Sucursal</label>
            <div class="position-relative">
                <select class="form-select" id="branchSelect" [(ngModel)]="selectedBranchId">
                    <option *ngFor="let branch of branches" [value]="branch.branchId">
                        {{ branch.displayValue }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close')">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateBranch(modal)">Guardar</button>
    </div>
</ng-template>

<!-- Modal de aprobación/rechazo -->
<ng-template #approvalModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-approval-title">Actualización Estatus</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="statusSelect" class="form-label">Seleccione una acción</label>
            <select class="form-select" id="statusSelect" [(ngModel)]="selectedStatus" required>
                <option value="" disabled selected>Seleccione estatus</option>
                <option value="Aprobado">Aprobar</option>
                <option value="Rechazado">Rechazar</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancelar</button>
        <button type="button" class="btn" [disabled]="!selectedStatus"
            [ngClass]="{'btn-danger': selectedStatus === 'Rechazado', 'btn-success': selectedStatus === 'Aprobado', 'btn-secondary': !selectedStatus}"
            (click)="processApproval(modal)">
            Guardar
        </button>
    </div>
</ng-template>