<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Detalles de recibo</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">

      <app-generic-table [local]="true" [rows]="rows" [columns]="columns" [total]="totalItems" [page]="page"
        [showFilter]="false">
      </app-generic-table>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Close')">Cerrar</button>
    <!--button type="button" class="btn btn-primary" (click)="updateBranch(modal)">Guardar</button-->
  </div>
</ng-template>

