<ng-template #content let-modal>
  <form [formGroup]="damageForm">
    <div class="modal-header justify-content-center mt-2">
      <h4 class="modal-title">REGISTRAR DAÑO EN UNIDAD</h4>
      <span class="badge bg-danger ms-2">{{ currentCircle?.zone_type }}-{{ currentCircle?.dano_type }}</span>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); activities.reset()"></button>
    </div>
    <div class="modal-body px-4" formArrayName="activities">
      <div class="row" *ngFor="let activity of activities.controls; let i = index" [formGroupName]="i">
        <div class="col-11">
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="zone">Zona</label>
              <ng-select formControlName="zone"
          [ngClass]="{ 'is-valid': validField('zone'), 'is-invalid': !validField('zone') }"
          [fixedPlaceholder]="true" [placeholder]="'Seleccione una zona'" id="zone" [items]="zoneTypesListModal"
          bindLabel="zoneName" bindValue="zoneId">
          </ng-select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="activity">Actividad</label>
              <div class="input-group">
                <input type="text" id="activity" (keydown.enter)="searchActivityCode($event, activity.value,i)" (blur)="searchActivityCode($event, activity.value,i)" class="form-control" formControlName="activity" placeholder="Ingrese la actividad" />
                <input type="hidden" formControlName="activityAll" />
                <button class="btn btn-outline-secondary" type="button" (click)="openActivitiesModalPage(i)">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="fault">Falla</label>
                <ng-select formControlName="fault"
                  [ngClass]="{ 'is-valid': validField('fault'), 'is-invalid': !validField('fault') }"
                  [fixedPlaceholder]="true" [placeholder]="'Seleccione una falla'" id="fault" [items]="faultListModal"
                  bindLabel="meaning" bindValue="listValueId">
                </ng-select>
            </div>
            <div class="col-md-2 mb-3">
              <label for="quantity">Cantidad</label>
              <input type="number" id="quantity" min="0" step="0" (keypress)="validateKeyPress($event)" class="form-control" formControlName="quantity" placeholder="Ingrese la cantidad" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 mb-3">
              <label for="comments">Comentarios</label>
              <input type="text" id="comments" class="form-control" formControlName="comments" placeholder="Ingrese comentarios" />
            </div>
            <div class="col-md-4 mb-3 d-flex align-items-end">
              <input type="file" multiple accept="image/*" (change)="addPhotos($event, i)" class="d-none" #fileInput />
              <button type="button" class="btn btn-outline-danger me-2" (click)="fileInput.click()"><i class="fa fa-plus"></i> Agregar Fotos</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex flex-wrap">
              <div class="card me-2 mb-2 border" *ngFor="let photo of activity.get('photos').value; let j = index" style="width: 18rem; height: 18rem; margin: 0px">
                <app-img-retry [src]="!photo.url ? photo : photo.url" class="card-img-top" alt="Foto" style="object-fit: cover; width: 100%; height: 12rem" />
                <div class="card-body">
                  <button type="button" class="btn btn-danger" (click)="removePhoto(i, j)">Eliminar Foto</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-danger" (click)="removeActivity(i, activity)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-secondary" (click)="removeDamage(currentCircle.id); modal.close()">Eliminar</button>
      <button type="button" class="btn btn-primary"
        [disabled]="count_activities() === 0 || damageForm.get('activities').invalid || information?.inspectStatus === 'C'"
      (click)="saveDamageDetail()">Guardar</button>
      <button type="button" class="btn btn-success" (click)="addActivity()">Agregar Otra Actividad</button>
    </div>
  </form>
</ng-template>