<div style="display: flex; justify-content: space-between; align-items: center">
  <span
    ><strong>INSPECCIÓN DE LA UNIDAD ({{ information?.insType }}) / FOLIO: {{ information?.inspectionFolio }}</strong></span
  >
  <span style="margin-left: auto"
    ><strong>Eco: {{ information?.serialNumber }}</strong></span
  >
</div>

<div class="row card-body">
  <!-- Columna de Datos de la Unidad -->
  <div class="col-lg-6">
    <div class="card border">
      <div class="card-body">
        <h4 class="card-title">Datos de la Unidad</h4>
        <h5 class="pt-3 fw-bold">Número económico:</h5>
        <span>{{ information?.serialNumber ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Número de serie:</h5>
        <span>{{ information?.catItem?.vin ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Número de placa:</h5>
        <span>{{ information?.catItem?.licensePlate ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Tipo de unidad:</h5>
        <span>{{ information?.catItem?.itemDescription ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Modelo:</h5>
        <span>{{ information?.catItem?.modelYear ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Marca:</h5>
        <span>{{ information?.catItem?.manufacturerName ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Patio EAM:</h5>
        <span>{{ information?.branch?.shortName ?? 'N/A' }}</span>
        <h5 class="pt-3 fw-bold">Es unidad propia:</h5>
        <span>{{ information?.trxType === 'I' ? 'Sí' : 'No' }}</span>
      </div>
    </div>
  </div>

  <!-- Columna de Datos del Cliente -->
  <div class="col-lg-6">
    <div class="card border">
      <div class="card-body">
        <h4 class="card-title">HOJAS DE INSPECCION</h4>
        <button type="button" class="btn btn-outline-danger" (click)="downloadPDF()"><i class="fa fa-download"> </i> Documento de inspección</button>
      </div>
    </div>
  </div>
</div>

<div class="form-group text-end space-20">
  <button type="button" class="btn btn-secondary btn-raised me-2" (click)="previous()">Regresar</button>
  <button type="button" class="btn btn-danger btn-raised" (click)="next()">
    {{ information?.inspectStatus === 'C' ? 'Salir' : 'Finalizar' }}
  </button>
</div>
