.tab-content .tab-pane{
    padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}
.btn-back{
  border-radius: 1px; 
  border-color: none !important; 
  margin-left: auto; 
  box-shadow: none !important;
  outline: none;
  border: none;
}

.ng-valid[required], .ng-valid.required  {
  border-start: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-start: 5px solid #a94442; /* red */
}
